<div class="main">
  <h1>To Do List</h1>
  <input
    #newItem
    placeholder="novo item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  >
  <button class="btn-primary" (click)="addItem(newItem.value); newItem.value = ''">Adicionar</button>
  <h2>
    {{items.length}}
    <span *ngIf="items.length > 1; else elseBlock">itens</span>
    <ng-template #elseBlock>item</ng-template>
  </h2>
  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
</div>
